<h1 mat-dialog-title>Product</h1>
<form [formGroup]="form">
    <div mat-dialog-content class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>

        <div class="row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" formControlName="code" required maxlength="10" />
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Quantity available" formControlName="quantityAvailable"
                    required />
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput type="number" step="0.01" placeholder="Price" formControlName="price" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" formControlName="description" required
                cdkTextareaAutosize></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="productCategoryId" required>
                <mat-option *ngFor="let productCategory of productCategoryList"
                    [value]="productCategory.productCategoryId">
                    {{productCategory.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Close</button>
        <button mat-button [disabled]="form.invalid" type="submit" (click)="save(form)">Save</button>
    </div>
</form>