<h1 mat-dialog-title>Order</h1>
<form [formGroup]="form">
    <div mat-dialog-content class="example-form">

        <mat-form-field *ngIf="isDetails" class="example-full-width">
            <input matInput type="number" placeholder="orderId" formControlName="orderId" readonly/>
        </mat-form-field>

        <div class="row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="firstName" formControlName="firstName" required maxlength="50"  [readonly]="isDetails"/>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="example-full-width">
                <input matInput placeholder="lastName" formControlName="lastName" required maxlength="50"  [readonly]="isDetails"/>
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="address" formControlName="address" required maxlength="50"  [readonly]="isDetails"/>
        </mat-form-field>

        <mat-form-field *ngIf="isDetails" class="example-full-width">
            <input matInput placeholder="status" formControlName="status" readonly/>
        </mat-form-field>

        <h3>Products</h3>
        <div class="row" *ngFor="let item of orderItemList; let i = index">
            <p> {{i + 1}}. {{item.productName}} {{item.price}}KM  {{item.quantity}}</p>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Close</button>
        <button mat-button  *ngIf="!isDetails" [disabled]="form.invalid" type="submit" (click)="finishPurchase(form)">Finish the purchase</button>
    </div>
</form>