<h1 mat-dialog-title>Product category</h1>
<form [formGroup]="form">
    <div mat-dialog-content class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Close</button>
        <button mat-button [disabled]="form.invalid" type="submit" (click)="save(form)">Save</button>
    </div>
</form>
